<nav class="nav-bar">
        <div class="logo">
          <h1 class="doctocar-logo"><a href="#top">Docto<strong>Car</strong></a></h1>
        </div>
        <ul class="nav">
          <li class="nav-item"><a href="#mecano">Je suis mécanicien</a></li>
          <li class="nav-item"><a href="#whysec">Pourquoi DoctoCar</a></li>
          <li class="nav-item"><a href="#howsec">Comment ça marche</a></li>
        </ul>
      </nav>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('/assets/mechanics.jpg');">
        <div class="banner-content">
          <h1>Nous réparons votre voiture à la demande</h1>
          <p>Oubliez le garage, nous envoyons un mécanicien professionnel à votre domicile ou sur votre lieu de travail.</p>
          <a class="btn btn-primary btn-large">Demander un mécanicien</a>
        </div>
      </div>




<section class="howsec" id="howsec">
        <h2>Comment ça marche ? </h2>
<p> Vous nous appellez et nous réparons</p>
        <div class="three-blocks">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-block">
                            <img src="/assets/check.png" alt="calendrier" style="width:150px;height:150px;">
                            <h4>Dites-nous de quoi votre voiture a besoin ou demandez un entretien complet. Recevez un devis gratuit, rapide, juste et transparent.</h4>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="single-block">
                            <img src="/assets/carnotrepair.png" alt="mecanicien" style="width:150px;height:150px;">
                            <h4>Quand vous voulez et où vous voulez. Nous selectionnons le meilleur mécanicien pour vous. </h4>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="single-block">
                            <img src="/assets/carrepair.png" alt="fait" style="width:150px;height:150px;">
                            <h4>C'est fait ! Plus besoin d'attendre des heures dans un garage. Un mécanicien vient à vous ;)</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blockend"></div>
    </section>
<section class="whysec" id="whysec">
        <h2>Pourquoi Doctocar ?</h2>
        <div class="four-points">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="onepoint">
                            <div class="media">
                                <div class="media-left">
                                    <img src="/assets/calendar.png" alt="Mountain View" style="width:130px;height:130px;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Service sur mesure</h4>
                                    <p>
Obtenez un devis et réservez un service en ligne 24/7. Nos mécaniciens viendront à votre domicile ou au bureau, même les soirs et les week-ends.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="onepoint">
                            <div class="media">
                                <div class="media-left">
                                  <img src="/assets/mecano3.png" alt="Mountain View" style="width:130px;height:130px;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Uniquement des professionnels</h4>
                                    <p>Nos mécaniciens sont certifiés, passionnés et les mieux qualifiés du marché. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="onepoint">
                            <div class="media">
                                <div class="media-left">
                                 <img src="/assets/price.png" alt="Mountain View" style="width:130px;height:130px;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Un prix  transparent et juste</h4>
                                    <p>Nous offrons un prix juste. Oubliez les montants exorbitants des garagistes. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="onepoint">
                            <div class="media">
                                <div class="media-left">
                               <img src="/assets/guaranti.png" alt="Mountain View" style="width:130px;height:130px;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Un bonheur garanti</h4>
                                    <p>Nous travaillons avec les meilleurs. Tous nos services ont une garantie ;) </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-cta">
                <a class="btn btn-primary btn-large">Demander un mécanicien</a>
                </div>
            </div>
        </div>
        <div class="blockend"></div>
    </section>
