.howsec {
font-family: 'Maven Pro', sans-serif;
    background-color: #FAFBFC;
    text-align: center;
    position: relative;
    z-index: 999;
    padding-top: 60px;
}

.whysec {
font-family: 'Maven Pro', sans-serif;
    text-align: center;
    padding-top: 100px;
}





.howsec h2 {
    font-size: 40px;
    // color: #fff;
    margin-top: 0;

}

.howsec h4 {
color: #52595D;
    margin-top: 0px;
    font-size: 18px;

}




.howsec p {
  color: #52595D;
 font-size: 30px;
    margin-top: 0;
    margin-bottom: 60px;
}


.whysec .section-cta {
    padding-top: 32px;
}


.whysec .four-points .onepoint .media-left {
    padding-right: 26px;

}


.whysec .four-points .onepoint {
    text-align: left;
    padding: 0 30px 0 20px;
    margin-bottom: 38px;
}


.icon {
    width: 104px;
    height: 104px;
    background-position: -124px -310px;
}

.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}



.blockend {
    height: 2px;
    background: #fff;
    opacity: .5;
    width: 60px;
    display: inline-block;
}

.whysec .four-points {
    padding-bottom: 60px;
}




.whysec h2 {
    font-size: 40px;
    // color: #fff;
    margin-top: 0;
    margin-bottom: 80px;
}


.whysec h4 {
   font-size: 18px;
       font-weight: 900;
}

.whysec p {
  color: #52595D;
 font-size: 18px;
    // margin-top: 0;
    // margin-bottom: 60px;
}
.container {
    position: relative;
    width: 1450px;
}






